.App {
  text-align: center;
}

body {
  background-color: azure
}

/* navigation */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: 3%;
}

nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /* font-size: 20px; */
  background-color: azure;
}

nav a {
  float: left;
  display:block;
  color: #543855;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  background: #543855;
  color: white;
}

/* Home/user Landing page */
.home-container {
  display:flex;
  justify-content: center;
  height: auto;
  max-width: 100%;
  align-items: center;
  align-content: center;
}

#home {
  margin-top:10%;
  color: #543855;
}

#logo {
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 400%;
}

h2 {
  font-weight: bold;
  font-size: 150%;
}

.forms {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

#sign-in {
  background-color: lightsalmon;
  margin-top: 5%;
}

button, #button {
  background-color: lightsalmon ;
    color: #543855;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
  color: white;
}

#button:hover {
  background-color: lightsalmon; 
  color: white;
}

#button {
  background-color: #543855 ;
    color: azure;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.input-field {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input {
  background-color: azure;
}

#img{
display:flex ;
}

.background-img {
  /* margin-left: 7%;  
  margin-top: 5%;  */
  margin:auto;
  background-image: url("/src/hairx model images/background.jpg");
  /* margin-left: 7%;   */
  margin-top: 7%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  /* background-color: lightgreen; */
  /* height: 80%;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  position: relative;
  background-color: lightgreen; */
}

#user-landing-text{
  text-align: center;
  text-shadow: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  /* opacity: 0.8; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #735273;
  /* border: 0.5px solid black; */
  border-radius: 1%;
  border-style: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

a {
  color: black;
}

/* a:hover {
  color: lightsalmon;
} */

a:link { 
  text-decoration: none; 
}

a:visited {
  text-decoration:none;
}

a:active { 
  text-decoration:solid; 
}

#product-link:hover {
  background-color: lightsalmon; 
}

/* #product-link {
  background-color: #543855 ;
    color: azure;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
} */

#lede-img {
  /* display: flex;
  align-items: center;  
  margin-top: 5%;
  margin-left: 10%;
  height: 600px;
  max-width: 100%; */
  background-image: url("/src/hairx model images/lede.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 821px) {
  #lede-img {   
    flex-direction: column;
  }
}
/* Products Display */

#prod-container-div {
  margin-top: 10%;
}

#prod-filter-div {
  margin-top: 5%;
}

#prodfilter-container-h2, #prod-container-h1 {
  color: #543855;
}

/* product filters */

#brand-filter-modal, #name-filter-modal, #type-filter-modal {
  background-color: azure ;
    color: #543855;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

ul, li {
  list-style-type: none;
}
