.App {
  text-align: center;
}

body {
  background-color: lightsalmon
}

/* navigation */
nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 20px;
  background-color: lightsalmon;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background: #543855;
  color: white;
}

/* Home/Landing page */
#home {
  margin-top:10%;
  color: #543855;
}

#sign-in {
  background-color: lightsalmon;
  border-radius: 50%;
  margin-top: 5%;
}

#sign-up {
  background-color: #543855;
}

label {
  color: white;
  text-shadow: 1px 1px 2px black
}

button, #button {
  background-color: #543855 ;
    color: azure;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#label-margin {
  margin-top: 50%;
}
/* Products Display */

