.App {
  text-align: center;
}

body {
  background-color: azure
}

/* navigation */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: 3%;
}

nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /* font-size: 20px; */
  background-color: azure;
}

nav a {
  float: left;
  display:block;
  color: #543855;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  background: #543855;
  color: white;
}

/* Home/Landing page */
.home-container {
  display:flex;
  justify-content: center;
  /* align-items: flex-start; */
  height: 500px;
  align-items: center;
  align-content: center;
  margin-top: -5%;
}

#home {
  margin-top:10%;
  color: #543855;
}

span {
  font-weight: bold;
  font-size: 50px;
}

h1 {
  font-weight: bold;
  font-size: 400%;
}

h2 {
  font-weight: bold;
  font-size: 150%;
}


.login {
  /* justify-content: space-evenly; */
}

.forms {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

form {
  background-color: lightsalmon;
  /* border-radius: 50%; */
  margin-top: 5%;
}

/* li {
  list-style-type: none;
} */

/* #sign-in {
  
} */


button, #button {
  background-color: lightsalmon ;
    color: #543855;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
  /* background-color: white;  */
  color: white;
}

#button:hover {
  background-color: lightsalmon; 
  color: white;
}

#button {
  background-color: #543855 ;
    color: azure;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.input-field {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input {
  background-color: azure;
}
#label-margin {
  margin-top: 50%;
}
/* Products Display */

